<div class="container maincontent">
<div class="row text-center"><%= image_tag 'resort.png' %></div>

<h1>New Contestant</h1>



<%= render 'form' %>



</div>

<%= link_to 'Back', contestants_path %>
