<div class="container maincontent">
<div class="row text-center"><%= image_tag 'resort.png' %></div>
<div class="container textcontent">

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consequat tortor ex, et ornare augue laoreet ac. Sed non ligula arcu. Phasellus pellentesque, lorem in bibendum facilisis, tellus elit porta odio, in commodo lorem dolor vitae neque. Vivamus gravida tincidunt consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis at neque a lacus vulputate bibendum. Pellentesque a tellus molestie, bibendum quam nec, cursus nulla. Duis a mauris ut felis porta sollicitudin at id odio. Etiam at ex orci.</p>

<p>Pellentesque sit amet auctor ante. Suspendisse id laoreet ligula, in ornare metus. Phasellus in condimentum diam. Sed sit amet molestie justo, at pellentesque ligula. Mauris egestas posuere justo, vitae scelerisque neque lacinia quis. Maecenas arcu elit, maximus a porta at, mattis vulputate velit. Nam at euismod erat. Aliquam sollicitudin rutrum libero, non vehicula lacus mattis posuere. Nulla nisi felis, porttitor vel maximus et, condimentum id nisl. Vivamus congue sit amet nisl quis condimentum. Aliquam erat volutpat. Pellentesque varius dolor tempor justo malesuada consectetur.</p>

<div class="container winstripe">
	YOU COULD WIN

</div>


<h1>New Contestant</h1>



<%= render 'form' %>


</div>
</div>

<%= link_to 'Back', contestants_path %>
