// Place all the styles related to the contestants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: 
$light-blue: rgb(112, 196 ,242);
$dark-blue: #3399cc;
$stripes:  repeating-linear-gradient(-45deg,
      transparent, 
      transparent 9px, 
      rgba(0, 0, 0, 0.1) 0px, 
      rgba(0, 0, 0, 0.1) 10px);

body{
	background-color: $light-blue;
}

.maincontent{
background:$stripes;
	background-color: $dark-blue;
	border: 1px solid black;

	img{
		width:100%;

	}

	.textcontent{
		padding:0.5%;
		width:90%;
		background-color:white;
		margin-top:1%;
		font-family: 'Open Sans';

			p{
				font-size:2vw;
				margin-top:3%;
				margin-left:3%;
				margin-right:3%;
				margin-bottom:3%;
			}

			.winstripe{
				font-family: 'Open Sans';
				width:100%;
				background-color:$light-blue;
				font-size:3vw;
				padding-right:5%;
				padding-left:5%;
				padding-top:1%;
				padding-bottom:1%;
				color:white;
				margin-bottom:5%;
				
			}

			.enterstripe{
				text-align: center;
				font-family: 'Open Sans';
				width:100%;
				background-color:$dark-blue;
				font-size:3vw;
				padding-right:5%;
				padding-left:5%;
				padding-top:3%;
				padding-bottom:3%;
				color:white;
				margin-top:3%;
				margin-bottom:5%;

			}

			.perkslist{
				margin: 2%;

				.perk{
				}
			}

			.moreinfo{
				font-size:1.5vw;
				color:$dark-blue;
				text-align: center;
				font-weight: bold;
				width:80%;
				margin:0 auto;

					a{
						color:black;
						text-decoration:underline;
					}
			}

			ul{
				list-style-type: none;
				margin-bottom:8%;
				li{
					font-size:2vw;
					margin-bottom:5%;

					.glyphicon{
						margin-right:5%;
						font-size:5vw;
						color: $dark-blue;
						vertical-align:middle;
					}

				}
			}

			.submitform{
				border: 1px solid black;

				.label{
				font-size:2vw;
				color:black;
				}
			}

			
	}
}



