// Place all the styles related to the contestants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: 
$main-color: rgb(112, 196 ,242);

body{
	background-color: $main-color
}

.maincontent{
	border: 1px solid black;

	img{
		width:100%;

	}
}

