// Place all the styles related to the contestants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: 
$light-blue: rgb(112, 196 ,242);
$dark-blue: #3399cc;
$stripes:  repeating-linear-gradient(-45deg,
      transparent, 
      transparent 9px, 
      rgba(0, 0, 0, 0.1) 0px, 
      rgba(0, 0, 0, 0.1) 10px);

.inner-shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

body{
	padding-bottom:15vw;
	background-color: $light-blue;
}

.maincontent{
background:$stripes;
	background-color: $dark-blue;
	border: 1px solid $dark-blue;

	img{
		width:100%;

	}

	.textcontent{
		margin-bottom:2vw;
		padding:0.5%;
		width:90%;
		background-color:white;
		margin-top:1%;
		font-family: 'Open Sans';

			p{
				font-size:2.5vw;
				margin-top:3%;
				margin-left:3%;
				margin-right:3%;
				margin-bottom:3%;
			}

			.winstripe{
				font-family: 'Open Sans';
				width:100%;
				background-color:$light-blue;
				font-size:3vw;
				padding-right:5%;
				padding-left:5%;
				padding-top:1%;
				padding-bottom:1%;
				color:white;
				margin-bottom:5%;
				
			}

			.enterstripe{
				text-align: center;
				font-family: 'Open Sans';
				width:100%;
				background-color:$dark-blue;
				font-size:3vw;
				padding-right:5%;
				padding-left:5%;
				padding-top:3%;
				padding-bottom:3%;
				color:white;
				margin-top:3%;
				margin-bottom:5%;

			}

			.perkslist{
				margin: 2%;

				.perk{
					font-size:2vw;
				}
			}

			.moreinfo{
				font-size:1.5vw;
				color:$dark-blue;
				text-align: center;
				font-weight: bold;
				width:80%;
				margin:0 auto;

					a{
						color:black;
						text-decoration:underline;
					}
			}

			ul{
				list-style-type: none;
				margin-bottom:8%;
				li{
					font-size:2vw;
					margin-bottom:5%;

					.glyphicon{
						margin-right:5%;
						font-size:5vw;
						color: $dark-blue;
						vertical-align:middle;
					}

				}
			}

			.submitform{
				padding:0vw;
				padding-top:0.5vw;
				padding-bottom:0.5vw;

				#stripes{
					padding-top:1vw;
					background:$stripes;
				}
				

				.label{
					font-weight:normal;
				font-size:2.5vw;
				color:#3d4040;
				}

				.text-field{
					margin-bottom:2vw;
					display:block;
					color:#7f8c8d;
					font-weight:bold;
				}

				.formcontainer{
				
			
					margin:0 auto;
					width:90%;
				}
			}

			.checkfield{
				margin-top:2%;
				margin-left:3%;
			}

			#privacypolicy{
				text-decoration: underline;
				font-weight:bold;
				color:$light-blue;
				display:block;
				margin-bottom:3%;
			}

			.submitter{
				box-shadow: 0 0 1em #7f8c8d;
				margin-left:3%;
				margin-bottom:3%;
				width:40%;
				font-size:2vw;
				background-color:$dark-blue;
			}

			
	}
}

.conditions{
	width:60%;
	margin:0 auto;
	text-align:center;
	font-family:"Open Sans";
	color:white;
	font-size:1.2vw;
}

.back{
	color:$light-blue;
}


